# Byte-compiled Python files
__pycache__/
*.py[cod]
*$py.class

# VS Code directory files
.vscode/

# Python virtual environment
env/

# Vim swap files
*.swp

# snap packages
*.snap

# Kde Advanced Text Editor (Kate) Project file
.kateproject
