QWidget {
    background-color: #27283B;
    padding: 0px;
    color: #B9C9C1;
    selection-background-color: #2C5E84;
    selection-color: #e1eff7;
  }
  
  QLineEdit {
    border: 2px solid #2C5E84;
    border-radius: 5px;
    background-color: #2F3347;
  }
  
  /* Multiple stages of buttons */
  
  QPushButton {
    background-color: #4c6e88;
    border: 0px solid #2C5E84;
    color: white;
    border-radius: 4px;
    padding: 3px;
    min-width: 80px;
  }
  
  QPushButton:hover {
    background-color: #3C4452;
  }
  
  QPushButton:pressed {
    background-color: #2C5E84;
  }
  
